<div class="container">
  <div class="row">
    <% @restaurants.each do |restaurant| %>
      <div class="col-md-6 col-md-offset-3">
        <div class="product">
          <div class='product-body'>
            <h3><%= restaurant.name.capitalize %></h3>
              <div class="description">
                <p><i class="fa fa-map-marker"></i> <%= restaurant.address %></p>
                <p><i class="fa fa-phone"></i> <%= restaurant.phone_number %></p>
                <p><i class="fa fa-question-circle"></i> <%= restaurant.category.capitalize %></p>
              </div>
          </div>
          <ul class="list-inline product-controls hidden-sm hidden-xs">
            <li>
              <%= link_to edit_restaurant_path(restaurant) do %>
              <i class="fa fa-edit"></i>
              <% end %>
            </li>
            <li>
              <%= link_to restaurant_path(restaurant), method: :delete, data: { confirm: "Are you sure?" } do %>
              <i class="fa fa-trash"></i>
              <% end %>
            </li>
            <li>
              <%= link_to restaurant_path(restaurant) do %>
              <i class="fa fa-commenting-o"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Add Restaurant', new_restaurant_path(@restaurant), class: 'btn btn-success text-center' %>
</div>
