<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <% @restaurants.each do |restaurant| %>
        <div class="product">
          <div class='product-body'>
            <h3><%= restaurant.name.capitalize %></h3>
            <div class="description">
              <p><i class="fa fa-map-marker"></i><%= restaurant.address %></p>
              <p><i class="fa fa-phone"></i> <%= restaurant.phone_number %></p>
              <p><i class="fa fa-question-circle"></i> <%= restaurant.category %></p>
            </div>
        </div>
        <ul class="list-inline product-controls hidden-sm hidden-xs">
          <li><a href=""><i class="fa fa-edit"></i></a></li>
          <li><a href=""><i class="fa fa-trash"></i></a></li>
        </ul>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="container text-center">
  <%= link_to 'Add Restaurant', new_restaurant_path(@restaurant), class: 'btn btn-success text-center' %>
</div>
